<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	cacheResultFile=".phpunit.cache/test-results"
	defaultTestSuite="default"
	failOnWarning="true"
	failOnRisky="true"
	convertDeprecationsToExceptions="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">

	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">./tests/php/</directory>
		</testsuite>
	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">./inc</directory>
		</include>
	</coverage>
</phpunit>
